#TOC {
  color: #708090;
  font-family: Baskerville;
  font-size: 16px; 
  border-color:  #000000;
}
#h1.title {
  color: #F08080;
  background-color:  #F0FFFF;
  font-family: Baskerville;
  font-size: 30px;
}
#h4.author {
  color:  #000000;
  font-family: Baskerville;
  background-color:  #F0FFFF;
}
#h4.date {
  color:  #000000;
  font-family: Baskerville;
  background-color:  #F0FFFF;
}

body {
  color:  #000000;
  font-family: Baskerville;
  background-color:  #F0FFFF;
  font-size: 20px;
}
pre {
  color:  #000000;
  background-color: #F8F8FF;
}